<footer id="sticky-footer" class="py-4 bg-dark text-white-50" shadow>
    <div class="container text-center">
      <p>Made with <span class="text-danger"><big>&#10084;</big></span> by Ronit</p>
    </div>
  </footer>
    <script src="../js/notes_table.js"></script>
    <script src="../js/tags.js"></script>
    <script src="../js/imgBtn.js"></script>
    <script src="../js/switch.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link rel="stylesheet" type="text/css" href="../css/tags.css">
    <link rel="stylesheet" type="text/css" href="../css/switch.css">
</body>

</html>