<script src="../js/notes_table.js"></script>
<script src="../js/tags.js"></script>
<link rel="stylesheet" type="text/css" href="../css/main.css">
<link rel="stylesheet" type="text/css" href="../css/tags.css">
</body>

</html>