<!DOCTYPE html>
<html>

<head>
    <title>Notes</title>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="../favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../favicon/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">


    <!-- <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"> -->
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link rel="stylesheet" type="text/css" href="../css/tags.css">
    <link rel="stylesheet" type="text/css" href="../css/spinner.css">
    <link rel="stylesheet" type="text/css" href="../css/switch.css">
    <link rel="stylesheet" type="text/css" href="../css/login.css">



    <!-- <script src="../js/notes_table.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../js/tags.js"></script>
    <script src="../js/switch.js"></script>
    <script src="../js/spinner.js"></script>
    <!-- <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js"></script> -->
    <!-- <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/jquery.dataTables.min.js"></script> -->

</head>

<body id="body" class="d-flex flex-column">
    <div id="loader" class="center"></div>
        <nav id="navbar" class="navbar navbar-expand-md w-100 navbar-light bg-light shadow">
        <a id="brand" href="/home" class="navbar-brand"> <strong> <span class="glyphicon glyphicon glyphicon-pencil"></span> Note App</strong></a>
        <div id="nav" class="navbar-nav">
            <% if (currentUser) { %>
                <a href="/add" class="btn btn-outline-secondary nav-item nav-link"> <span
                        class="glyphicon glyphicon-plus"></span> add note</a>
                <a href="/search" class="btn ml-2 btn-outline-secondary nav-item nav-link">
                    <span class="glyphicon glyphicon-search"></span> search note
                </a>
            <% } %>
        </div>
        <div id="switch" class="navbar-nav ml-4 navbar-right mr-auto">
            <label class="switch">
                <input id="darkmode" type="checkbox">
                <span class="slider round"></span>
            </label>
        </div>
        <% if(currentUser){ %>
        <div class="navbar-nav ml-auto " style="display: inline;">
            <a class="btn nav-item nav-link ">
                <span class="glyphicon glyphicon-user"></span> <%= currentUser.name %>
            </a>
            <a class="btn btn-outline-info nav-item nav-link">
                <span class="glyphicon glyphicon-cog"></span> change Password</a>
            <a id="logout" href="/logout" class="btn btn-outline-danger mr-4 nav-item nav-link"> <strong><span class="glyphicon glyphicon-off"></span> Logout</strong></a>
        </div>
        <%}%>
    </nav>   