<% if(success_msg && success_msg != '') 
{ %>
    <div class="text-center alert alert-success"><b><%= success_msg %></b></div>
<% }
else if(error_msg && error_msg!= '')
{ %>
    <div class="text-center alert alert-danger"><b><%= error_msg %></b></div>
<% } %>

<% if(error && error!= '')
{ %>
    <div class="text-center alert alert-danger"><b><%= error %></b></div>
<% } %>