<%- include('partials/header.ejs') -%>
<%- include('partials/messages.ejs') -%>

<div id="log" class="wrapper fadeInDown">
  <div id="formContent">
    

    
    <div class="fadeIn first">
      <img src="./favicon/forgot.png" id="icon" alt="User Icon" />
    </div>

   
    <form method="POST" action="/forgot">
      <input type="email" id="login" class="fadeIn second" name="email" placeholder="Email" required>
      <input type="submit" class="fadeIn fourth" value="Send Link">
    </form>

    
    <div id="formFooter">
      <a class="underlineHover" href="/login">LogIn instead?</a>
    </div>

  </div>
</div>
<%- include('partials/footer.ejs') -%>

