<%- include('partials/header.ejs') -%>
<%- include('partials/messages.ejs') -%>

<!-- <table id="dataTable" class="table table-hover table-dark">
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Note Title</td>
                <td>details</td>
                <td><kbd>tags</kbd></td>
                <td>
                    <button class="btn btn-primary btn-sm a-btn-slide-text">
                        <span class="glyphicon glyphicon-edit"></span>
                        <span>Edit</span>
                    </button>
                </td>
                <td>
                    <button class="btn btn-primary btn-danger btn-sm a-btn-slide-text">
                        <span class="glyphicon glyphicon-remove"></span>
                        <span>Delete</span>
                    </button>
                </td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Note Title</td>
                <td>details</td>
                <td><kbd>tags</kbd></td>
                <td>
                    <button class="btn btn-primary btn-sm a-btn-slide-text">
                        <span class="glyphicon glyphicon-edit"></span>
                        <span>Edit</span>
                    </button>
                </td>
                <td>
                    <button class="btn btn-primary btn-danger btn-sm a-btn-slide-text">
                        <span class="glyphicon glyphicon-remove"></span>
                        <span>Delete</span>
                    </button>
                </td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Note Title</td>
                <td>details</td>
                <td><kbd>tags</kbd></td>
                <td>
                    <button class="btn btn-primary btn-sm a-btn-slide-text">
                        <span class="glyphicon glyphicon-edit"></span>
                        <span>Edit</span>
                    </button>
                </td>
                <td>
                    <button class="btn btn-primary btn-danger btn-sm a-btn-slide-text">
                        <span class="glyphicon glyphicon-remove"></span>
                        <span>Delete</span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table> -->

<%- include('partials/table.ejs') -%>

<%- include('partials/footer.ejs') -%>